boto==2.49.0
boto3==1.12.28
conda==4.8.0
Django==2.2.24
django-crispy-forms==1.8.1
django-elasticsearch-dsl==7.1.1
django-filter==2.2.0
django-range-slider==0.2.4
djangorestframework==3.11.0
djongo==1.2.38
dnspython==1.16.0
docutils==0.15.2
elasticsearch==5.5.3
elasticsearch-dsl==5.4.0
face-recognition-models==0.3.0
